<div class="index">
  
<h1 class="index-title">Books</h1>
<table class="index-table"> 
  <thead>
    <tr>
     <th class="table-title">Title</th>
     <th class="table-title">Body</th>
     <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
     <tr>
       <td class="title-td"><%= book.title %></td>
       <td class="body-td"><%= book.body %></td>
       <td class="show-td"><%= link_to "Show",book_path(book)%></td>
       <td class="edit-td"><%= link_to "Edit",edit_book_path(book)%></td>
       <td class="destroy-td"><%= link_to "Destroy", book_path(book),method: :delete%></td>
       </tr>
    <% end %>
  </tbody>
</table>

<h2 class="new-title">New Book</h2>

<% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this book from being saved:<br>
    <% @book.errors.full_messages.each do |message| %>
    　・<%= message %>
  　<% end %>
<% end %>
<%= form_with model:@book,local:true do |f|%>

<div class="field1">
　<lavel>Title</lavel>
　<%= f.text_field:title %>
</div>

<div class="field2">
　<lavel>Body</lavel>
　<%= f.text_area:body %>
</div>

<div class="actions">
<%= f.submit "Create Book"%>
</div>
<% end %>

</div>


